################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC/Mission90MVC/Mission90MVC/obj
/MVC/Mission90MVC/.vs/Mission90MVC
/MVC/Mission90MVC/Mission90MVC/bin/Debug/net8.0
/MVC/Mission90MVC/.vs/ProjectEvaluation
/MVC/Mission90MVC/Mission90.Dal/bin/Debug/net8.0
/MVC/Mission90MVC/Mission90.Dal/obj
/MVC/Mission90MVC/Mission90.Tests/obj
